@import "tailwindcss";

:root {
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    transition: background-color 0.3s, color 0.3s;
  }

}


@theme {
  --color-*: initial;
  --color-primary: #ba55d3;       /* Stronger purple for better contrast */
  --color-secondary: #F8D7FF;     /* Supporting purple */
  --color-accent: #F1DD00;        /* Pink accent that pops */
  
  /* Neutral Scale (3 shades only) */
  --color-light: #f9f9f9;         /* For backgrounds */
  --color-gray: #6b7280;          /* For secondary text */
  --color-dark: #111827;          /* For primary text */
  
  /* Functional Colors (2 states) */
  --color-success: #10b981;       /* Green for success */
  --color-error: #ef4444;         /* Red for errors */
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eoboto';
  font-stretch: ; /* Note that font-stretch is a % of normal width */
  font-style: normal; /* See note below */
  font-weight: normal;
  src: url(roboto.woff2) format('woff2');
}